[Desktop Entry]                                                                                                
Name=Hively Tracker                                                                                            
Exec=hivelytracker                                                                                             
Comment=Tracker program for AHX/HVL/MOD                                                                        
Icon=hivelytracker                                                                                             
Type=Application                                                                                               
Terminal=false                                                                                                 
StartupNotify=false                                                                                            
Categories=AudioVideo;AudioVideoEditing;                                                                       
Keywords=tracker;amiga;
